body{
    background-color: rgb(246, 227, 203);
}

h1{
    color: blueviolet;
    text-align: center;
}

h3 {
    color: rgb(156, 101, 208);
}

p{
    font-size: large;
    text-align: justify;
}


.espacamentolista{
    margin-top: 10px;
    margin-block: 10px;
}

.imagem{
    border-radius: 15px;
    width: 300px;
    height: 160px;
}


table, th, td {
    border: 2px solid;
    border-collapse: collapse;
    border-color: blueviolet;
    background-color: rgb(209, 205, 213);
}

th{
    color: rgb(40, 40, 40);
}

a:hover {
    color: blueviolet;
}

#mensagem {
   margin-top: 10px;
   color:rgb(173, 147, 198);
   font-style: oblique;
   display: none;
}

#botao {
    background-color: blueviolet;
    border-radius: 10px;
}